.lemon-primary-d {
    color: #495e57;
  }
  
  .lemon-primary-l {
    color: #F4CE14;
  }
  /* Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff; /* Add your preferred background color */
  /* Add other styles as needed */
}

  